/*-------------------------------------Sections-------------------------------------*/

.left {
    position:absolute;
    left:0; top:0px; bottom: 0;
    width: 30%;
}
.main {
    position: absolute;
    left:30%; top:0px; right:0; bottom:0;
}

.left { background: #ffffff; }
.main { background: #91caf5; }

/*-------------------------------------Skyline Images-------------------------------------*/

.imgmain {
    position: absolute;
    left: 0%; bottom: 0px;
}

.imgleft {
    position: absolute;
    left: 0%; bottom: 0px;
}

/*-------------------------------------Main Banner-------------------------------------*/

.hidden {
    display:none;
}
span {
    position: absolute;
    left:105px;
    top:75px;
    font-family: 'Pacifico', cursive;
    color: #ffffff;
}
p {
    left: 100px;
    width:1000px;
    position:relative;
    font-family: 'Pacifico', cursive;
    font-size: 75px;
    top: 125px;
    color: #ffffff;
}

/*-------------------------------------Links-------------------------------------*/

a {
    color: inherit;
}

.icon {
  -webkit-filter: drop-shadow(2px 2px 2px #696969);
  filter: drop-shadow(2px 2px 2px #696969);
}

.email {
    top: 420px;
}
    .email:hover {
        -webkit-filter: drop-shadow(2px 2px 2px #696969);
        filter: drop-shadow(2px 2px 2px #696969);
    }

.github {
    top: 480px;
}
    .github:hover {
        -webkit-filter: drop-shadow(2px 2px 2px #696969);
        filter: drop-shadow(2px 2px 2px #696969);
    }

.portfolio {
    top: 540px;
}
    .portfolio:hover {
        -webkit-filter: drop-shadow(2px 2px 2px #696969);
        filter: drop-shadow(2px 2px 2px #696969);
    }

.about {
    top: 600px;
}
    .about:hover {
        -webkit-filter: drop-shadow(2px 2px 2px #696969);
        filter: drop-shadow(2px 2px 2px #696969);
    }

.email, .github, .portfolio, .about {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
    position: absolute;
    left: 125px;
    width: 300px;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    color: #ffffff;
    text-shadow: 2px 2px #696969;
}

/*-------------------------------------Initial Fade In-------------------------------------*/

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}